/**
 * * General variables
 * */
/**
 * * General configs
 * */
 * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1em;
    ;
  }
  
  button {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  
  input {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
  }
  input[type=submit] {
    cursor: pointer;
  }
  input::-moz-placeholder {
    font-size: 0.85rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  input:-ms-input-placeholder {
    font-size: 0.85rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  input::placeholder {
    font-size: 0.85rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  
  /**
   * * Bounce to the left side
   * */
  @-webkit-keyframes bounceLeft {
    0% {
      transform: translate3d(100%, -50%, 0);
    }
    50% {
      transform: translate3d(-30px, -50%, 0);
    }
    100% {
      transform: translate3d(0, -50%, 0);
    }
  }
  @keyframes bounceLeft {
    0% {
      transform: translate3d(100%, -50%, 0);
    }
    50% {
      transform: translate3d(-30px, -50%, 0);
    }
    100% {
      transform: translate3d(0, -50%, 0);
    }
  }
  /**
   * * Bounce to the left side
   * */
  @-webkit-keyframes bounceRight {
    0% {
      transform: translate3d(0, -50%, 0);
    }
    50% {
      transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
      transform: translate3d(100%, -50%, 0);
    }
  }
  @keyframes bounceRight {
    0% {
      transform: translate3d(0, -50%, 0);
    }
    50% {
      transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
      transform: translate3d(100%, -50%, 0);
    }
  }
  /**
   * * Show Sign Up form
   * */
  @-webkit-keyframes showSignUp {
    100% {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes showSignUp {
    100% {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }
  /**
   * * Page background
   * */
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1497211419994-14ae40a3c7a3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bGlnaHQlMjBncmVlbiUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
  }
  .user_options-container {
    position: relative;
    width: 80%;
  }
  .user_options-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    border-radius: 3px;
  }
  
  /**
   * * Registered and Unregistered user box and text
   * */
  .user_options-registered,
  .user_options-unregistered {
    width: 50%;
    padding: 75px 45px;
    color: #fff;
    font-weight: 300;
  }
  
  .user_registered-title,
  .user_unregistered-title {
    margin-bottom: 15px;
    font-size: 3rem;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif
  }
  
  .user_unregistered-text,
  .user_registered-text {
    font-size:1.5rem;
    line-height: 1.4em;
    font-family: "Comfortaa", sans-serif;
  }
  
  .user_registered-login,
  .user_unregistered-signup {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .user_registered-login:hover,
  .user_unregistered-signup:hover {
    color: rgba(34, 34, 34, 0.85);
    background-color: #ccc;
    font-size: large;
  }
  
  /**
   * * Login and signup forms
   * */
  .user_options-forms {
    position: absolute;
    top: 50%;
    left: 30px;
    width: calc(50% - 30px);
    min-height: 420px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transform: translate3d(100%, -50%, 0);
    transition: transform 0.4s ease-in-out;
  }
  .user_options-forms .user_forms-login {
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  }
  .user_options-forms .forms_title {
    margin-bottom: 45px;
    font-family: "Comfortaa", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.1rem;
  }
  .user_options-forms .forms_field:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .user_options-forms form .forms_field-input {
    width: 100%;
    margin: .7rem 0;
    border: var(--border);
    border-radius: .5rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
    transition: border-color 0.2s ease-in-out;
  }

  .user_options-forms form .forms_field-input::placeholder {
    font-size: 1.6rem; /* Adjust this value as needed */
    color: var(--black); /* Optional: Change the color of the placeholder text */
}
  .user_options-forms .forms_field-input:focus {
    border-color: gray;
    font-size: large;
    
  }
  .user_options-forms .forms_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }
  .user_options-forms .forms_buttons-forgot {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
    color: #ccc;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
  }
  .user_options-forms .forms_buttons-forgot:hover {
    color: #b3b3b3;
  }
  .user_options-forms .forms_buttons-action {
    background-color: #e8716d;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease-in-out;
  }
  .user_options-forms .forms_buttons-action:hover {
    background-color: #e14641;
  }
  .user_options-forms .user_forms-signup,
  .user_options-forms .user_forms-login {
    position: absolute;
    top: 70px;
    left: 40px;
    width: calc(100% - 80px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
  }
  .user_options-forms .user_forms-signup {
    transform: translate3d(120px, 0, 0);
  }
  .user_options-forms .user_forms-signup .forms_buttons {
    justify-content: flex-end;
  }
  .user_options-forms .user_forms-login {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  
  /**
   * * Triggers
   * */
  .user_options-forms.bounceLeft {
    -webkit-animation: bounceLeft 1s forwards;
            animation: bounceLeft 1s forwards;
  }
  .user_options-forms.bounceLeft .user_forms-signup {
    -webkit-animation: showSignUp 1s forwards;
            animation: showSignUp 1s forwards;
  }
  .user_options-forms.bounceLeft .user_forms-login {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-120px, 0, 0);
  }
  .user_options-forms.bounceRight {
    -webkit-animation: bounceRight 1s forwards;
            animation: bounceRight 1s forwards;
  }
  
  /**
   * * Responsive 990px
   * */
  @media screen and (max-width: 990px) {
    .user_options-forms {
      min-height: 350px;
    }
    .user_options-forms .forms_buttons {
      flex-direction: column;
    }
    .user_options-forms .user_forms-login .forms_buttons-action {
      margin-top: 30px;
    }
    .user_options-forms .user_forms-signup,
  .user_options-forms .user_forms-login {
      top: 40px;
    }
  
    .user_options-registered,
  .user_options-unregistered {
      padding: 50px 45px;
    }
  }



  
  .google-sign-in-button {
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
        
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.google-sign-in-button:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-sign-in-button:active {
    background-color: #eeeeee;
}

.google-sign-in-button:active {
    outline: none;
        box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
}

.google-sign-in-button:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
}